<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<h1 class="text-center">Team Design Section with Pure CSS Effect</h1>

<div class="container">
  <div class="row">
    <!--team-1-->
    <div class="col-lg-4">
      <div class="our-team-main">
        <div class="team-front">
          <img
            src="http://placehold.it/110x110/9c27b0/fff?text=Praneeth"
            class="img-fluid"
          />
          <h3>Kondraju Praneeth</h3>
          <p>Doctor Module</p>
        </div>

        <div class="team-back">
          <span>
            In this project we used Angular 6 as frontend and I implemented
            Doctor module. I used SpringBoot and Oracle as Database.
          </span>
        </div>
      </div>
    </div>
    <!--team-1-->

    <!--team-2-->
    <div class="col-lg-4">
      <div class="our-team-main">
        <div class="team-front">
          <img
            src="http://placehold.it/110x110/336699/fff?text=Prudhvi"
            class="img-fluid"
          />
          <h3>Mypati Prudhvi</h3>
          <p>Patient Module</p>
        </div>

        <div class="team-back">
          <span>
            In this project we used Angular 6 as frontend and I implemented
            Patient module. I used SpringBoot and Oracle as Database.
          </span>
        </div>
      </div>
    </div>
    <!--team-2-->

    <!--team-3-->
    <div class="col-lg-4">
      <div class="our-team-main">
        <div class="team-front">
          <img
            src="http://placehold.it/110x110/607d8b/fff?text=Pradeep"
            class="img-fluid"
          />
          <h3>Pradeep Kumar D</h3>
          <p>Report Module</p>
        </div>

        <div class="team-back">
          <span>
            In this project we used Angular 6 as frontend and I implemented
            Report module. I used SpringBoot and Oracle as Database.
          </span>
        </div>
      </div>
    </div>
    <!--team-3-->

    <!--team-4-->
    <div class="col-lg-4">
      <div class="our-team-main">
        <div class="team-front">
          <img
            src="http://placehold.it/110x110/4caf50/fff?text=Sneha"
            class="img-fluid"
          />
          <h3>Sneha M</h3>
          <p>Spectacles Module</p>
        </div>

        <div class="team-back">
          <span>
            In this project we used Angular 6 as frontend and I implemented
            Spectacles module. I used SpringBoot and Oracle as Database.
          </span>
        </div>
      </div>
    </div>
    <!--team-4-->

    <!--team-5-->
    <div class="col-lg-4">
      <div class="our-team-main">
        <div class="team-front">
          <img
            src="http://placehold.it/110x110/e91e63/fff?text=Nandhini"
            class="img-fluid"
          />
          <h3>Nandhini N</h3>
          <p>Appointment Module</p>
        </div>

        <div class="team-back">
          <span>
            In this project we used Angular 6 as frontend and I implemented
            Appointment module. I used SpringBoot and Oracle as Database.
          </span>
        </div>
      </div>
    </div>
    <!--team-5-->

    <!--team-6-->
    <div class="col-lg-4">
      <div class="our-team-main">
        <div class="team-front">
          <img
            src="http://placehold.it/110x110/2196f3/fff?text=Manasa"
            class="img-fluid"
          />
          <h3>Manasa M</h3>
          <p>Test Module</p>
        </div>

        <div class="team-back">
          <span>
            In this project we used Angular 6 as frontend and I implemented Test
            module. I used SpringBoot and Oracle as Database.
          </span>
        </div>
      </div>
    </div>
    <!--team-6-->
  </div>
</div>
