<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<div class="container">

        <h3>Book Appointment</h3>

    <form #userForm="ngForm" (ngSubmit)='onSubmit(userForm.value)'>

        <div class="form-group">
            <label>PATIENT ID: </label>
            <input required minlength="1" type="number" [(ngModel)]="pId" readonly="readonly" #patientIdRef='ngModel' name="patientId" ngModel class="form-control">
        </div>

        <div class="form-group">
            <label>DOCTOR ID: </label>
            <input required minlength="1" type="number"  #doctorIdRef='ngModel' name="doctorId" ngModel class="form-control">
        </div>

        <div class="form-group">

            <label class="form-label">Appointment Date: </label>
            <br>
            <input required type="date" name="dateOfAppointment" #dateRef='ngModel' ngModel class="form-control">

        </div>

        <div class="form-group">

            <label class="form-label">Appointment Time: </label>
            <br>
            <input required type="time" name="timeOfAppointment" #timeRef='ngModel' ngModel class="form-control">
        </div>

        <div class="form-group">
            <label  class="form-label">Consultation Fee:</label>
            
              <input type="text" readonly="readonly" class="form-control-plaintext" name="consultationFee"  value="1000/-" >
        </div>
        <!-- <div class="mb-3">
            <label  class="form-label">Description:</label>
            <textarea class="form-control" id="textarea" rows="3"></textarea>
          </div> -->
      <input class="btn btn-primary" type="submit" value="Book Appointment" style="margin-right: 10px;"> 
        <input class="btn btn-primary" type="reset"  value="clear" style="margin-right: 20px;"> <button class="btn btn-info" (click)="onBack()">Back</button><br>
    </form>
</div><br><br>

